asgiref==3.11.1
attrs==26.1.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
Django==6.0.7
django-ratelimit==4.1.0
djangorestframework==3.17.1
drf-spectacular==0.30.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mozilla-django-oidc==5.0.2
pycparser==3.0
PyJWT==2.13.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
uv==0.11.2
whitenoise==6.12.0
yt-dlp==2026.7.4
